.app__navigation {
    width: 20%;
    height: 2180px;
    background: #0C1245;
    float: left;
}

.navigation__logo {
    position: absolute;
    width: 20%;
    height: 194px;
    background: linear-gradient(180deg, #193387 0%, #0B1144 100%);
}

.navigation__logo-img {
    position: absolute;
    top: 24px;
    left: 48px;
}


/* //logo  */

.navigation {
    position: absolute;
    width: 100%;
    height: 100%;
}


/* //nav   */

.navigation__dropdown {
    position: absolute;
    width: 250px;
    height: 56px;
    top: 217px;
    left: 16px;
    background: #0C1245;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
}

.navigation__dropdown-1 {
    top: 459px;
}

.navigation__dropdown-2 {
    top: 735px;
}

.navigation__dropdown-3 {
    top: 1051px;
}

.dropdown__title {
    font-family: var(--font-lato);
    font-weight: bold;
    font-size: 18px;
    line-height: 21.6px;
    color: var(--white-color);
    margin-right: 28px;
    padding: 8px 0 0 2px;
}

.dropdown__title-1 {
    padding-right: 50px;
}

.dropdown__title-2 {
    padding-right: 60px;
}

.dropdown__title-3 {
    padding-right: 80px;
}

.navigation__dropdown-list {
    position: absolute;
    list-style: none;
    width: 250px;
    height: 186px;
    left: 16px;
    top: 273px;
    background: #0C1245;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.1);
    padding: 9px 0px 0 52px;
}

.navigation__dropdown-list--1 {
    top: 515px;
    height: 220px;
}

.navigation__dropdown-list--2 {
    top: 791px;
    height: 260px;
}

.navigation__dropdown-item:hover .navigation__dropdown-link {
    text-decoration: none;
    opacity: 1;
    color: var(--white-color);
}

.navigation__dropdown-link {
    font-family: var(--font-lato);
    font-size: 16px;
    line-height: 40px;
    color: var(--white-color);
    opacity: 0.8;
}


/* //NAV  */

.app__right {
    width: 80%;
    float: right;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px 15px;
}

.header__left {
    display: flex;
}

.header__breadcrumb ul {
    list-style: none;
    padding: 0 0 0 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__breadcrumb ul li {
    padding: 0 10px;
}

.header__breadcrumb ul li a {
    font-size: 16px;
    line-height: 19px;
    color: var(--text-color);
}

.header__right {
    width: 103px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contents__heading h3 {
    font-family: var(--font-oswald);
    font-weight: 700;
    font-size: 32px;
    padding: 0;
    text-transform: uppercase;
    padding: 0 13px 16px;
}

.contents__heading h3 span {
    font-family: var(--font-oswald);
    font-weight: 700;
    font-size: 32px;
    color: var(--primary-color);
    line-height: 47.42px;
}

.container p.group__collapse {
    position: relative;
}

.container p.group__collapse::after {
    position: absolute;
    content: "";
    width: 108%;
    height: 3px;
    background-color: var(--primary-color);
    bottom: 0;
    left: -54px;
}

a.button__colapse {
    height: 44px;
    width: 184px;
    background-color: var(--primary-color);
    font-family: var(--font-oswald);
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
}

button.button__colapse {
    height: 44px;
    width: 184px;
    background-color: var(--white-color);
    font-family: var(--font-oswald);
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    color: var(--text-color);
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    border-radius: 6px 6px 0px 0px;
}

.card-body {
    background: var(--bg-color);
    border: none;
    font-family: var(--font-lato);
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    max-height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    content: "";
    background: -webkit-linear-gradient(top, #000 70%, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.show-more {
    font-size: 16px;
    line-height: 20px;
    font-family: var(--font-lato);
    color: var(--primary-color);
    cursor: pointer;
}

.group-text {
    font-size: 16px;
    font-family: var(--font-lato);
    display: flex;
}

.group-text.text-second .box-filter {
    width: 169px;
}

.group-text.text-second span {
    font-weight: bold;
    padding-right: 5px;
}

.box-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white-color);
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    border-radius: 6px;
    width: 96px;
    height: 28px;
    margin-left: 2px;
}

.box-filter.filter-1 {
    width: 70px;
}

.box-filter svg {
    margin-left: 10px;
    margin-top: 3px;
}

.btn.btn-reset {
    width: 115px;
    height: 30px;
    border: 1px solid #1E60E1;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: var(--white-color);
    font-size: 16px;
    line-height: 19px;
    font-family: var(--font-lato);
    color: var(--primary-color);
}

.btn.btn-reset:hover {
    color: var(--primary-color);
}

.btn-reset.btn-filter {
    background-color: #c3d2f1;
    color: var(--primary-color);
    border: none;
    margin-left: 108px;
}

.btn-reset.btn-filter svg {
    margin-top: -3px;
    padding-right: 4px;
}


/* Card  */

.contents__card .contents__card-logo {
    position: relative;
    height: 100%;
    width: 192px;
    background: #161735;
    border: 1px solid #E9EBEE;
    box-sizing: border-box;
    border-radius: 6px 0px 0px 6px;
}


/* card-right  */

.contents__card-right {
    background-color: var(--white-color);
    border-radius: 6px;
}

.card__top-left h2 {
    font-family: var(--font-oswald);
    font-weight: bold;
    font-size: 26px;
    line-height: 41px;
    text-transform: uppercase;
}

.card__top-left h2 span {
    color: var(--primary-color);
}

.card__top-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* country  */

.country__list {
    padding-left: 4px;
    list-style: none;
}

.country__item svg {
    padding-right: 5px;
}

.country__item svg:first-child {
    width: 18px;
    height: 13px;
}

.country__link {
    font-size: 16px;
    line-height: 32px;
    font-family: var(--font-lato);
    color: var(--text-color);
}


/* group  */

.card__mid-group ul {
    margin-bottom: 0;
}

.card__mid-group ul li {}

.card__mid-group ul a {
    font-size: 16px;
    line-height: 32px;
    text-decoration: none;
    color: var(--text-color);
    font-family: var(--font-lato);
}


/* gift  */

.gift__wrap {
    position: relative;
    width: 164px;
    height: 149px;
    background: #FEFAFB;
    border: 5px solid #E8317E;
    box-sizing: border-box;
    box-shadow: 0px 10px 12px rgba(232, 49, 126, 0.08);
    border-radius: 12px;
    margin-left: 35px;
}

.gift__wrap h3 {
    font-family: var(--font-lato);
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #E8317E;
    display: block;
    width: 123px;
    height: 66px;
    text-align: center;
    margin: 27px 16px 10px 16px;
}

.gift__wrap p {
    font-family: var(--font-lato);
    font-size: 14px;
    line-height: 17px;
    color: #1E60E1;
    text-align: center;
}

.gift__icon {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #E8317E;
    border-radius: 100px;
    top: 11px;
    left: -21px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift__title {
    position: absolute;
    width: 80px;
    height: 26px;
    background: #E8317E;
    border-radius: 0px 12px;
    font-size: 14px;
    line-height: 17px;
    font-family: var(--font-lato);
    color: var(--white-color);
    text-align: center;
    padding-top: 3px;
    right: -5px;
    top: -5px;
}


/* bottom  */

.card__bottom {
    display: flex;
    justify-content: space-around;
}

.btn-visit {
    width: 196px;
    height: 44px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--font-lato);
    font-weight: bold;
}

.btn-trans {
    width: 150px;
    height: 44px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    font-family: var(--font-lato);
    font-weight: bold;
    background-color: #1e60e12b;
    color: var(--primary-color);
}


/* Bonus  */

.card__bonus-text {
    display: flex;
    align-items: center;
    margin-left: 9px;
}

.card__bonus-text h3 {
    font-size: 18px;
    line-height: 22px;
    font-family: var(--font-lato);
    color: var(--text-color);
    padding-left: 10px;
}

.card__bonus ul {
    padding-left: 28px;
}

.card__bonus ul li a {
    font-size: 16px;
    line-height: 28px;
    font-family: var(--font-lato);
    text-decoration: none;
    color: var(--text-color);
}

.card__bonus ul li a span {
    font-weight: bold;
}

.button__showmore {
    width: 398px;
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #1E60E1;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1E60E1;
    font-family: var(--font-lato);
}

.panigation__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}